BasedOnStyle: Google
AccessModifierOffset: -4
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 120
ConstructorInitializerIndentWidth: 8
Cpp11BracedListStyle: false
IndentCaseLabels: false
IndentWidth: 4
MaxEmptyLinesToKeep: 3
SortIncludes: false
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpacesInParentheses: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
UseTab: Never
